{if isset($listing_title)}{block name=html_title append}{$listing_title}{/block}{/if}
{if isset($load_model_type)}{block name=html_title append}{{L('MODEL_'|cat:$load_model_type|cat:'_INSTANCES')}}{/block}{/if}

{block name=page_header}
<header>
<div class="ox-tabs-container" id="dashboard_toolbar">
<div class="w3-bar">
  <h1 class="w3-bar-item w3-right">{block name=page_header_title}{if isset($page_header_title)}{$page_header_title}{else}{L('PAGE_common_COMPANY')}{/if}{/block}</h1>
{block name=page_header_links}
  <a role="tab" class="w3-bar-item w3-button w3-secondary ox-tabs-link" href="#dashboard_listings"><i class="fas fa-list-ul" title="{L('MODEL_service_RELATED_LISTINGS')}"></i></a>  
  <a role="tab" class="w3-bar-item w3-button w3-secondary ox-tabs-link" href="#dashboard_actions">{Marker::fas('plus', L('PAGE_ACTION_CREATE'))}</a>
  {if isset($load_model)}<a role="tab" class="w3-bar-item w3-button w3-secondary ox-tabs-link" href="#dashboard_model_actions">{Marker::fas('pen', L('PAGE_ACTION_EDIT'))}</a>{/if}
{/block}
  
</div>
<div id="dashboard_listings" class="ox-tabs-content w3-row ox-row-padding">{block name='dashboard_listings'}
{if isset($form_model)}<ul class="w3-col s6 m4 l3 w3-ul ox-ul-menu"><li><a href="{$controller->route_list($form_model)}">{Marker::fas('list')}{L('MODEL_'|cat:$form_model_type|cat:'_INSTANCES')}</a></li></ul>{/if}
{/block}</div>

<div id="dashboard_actions" class="ox-tabs-content w3-row ox-row-padding">{block name='dashboard_actions'}
{if isset($form_model)}<ul class="w3-col s6 m4 l3 w3-ul ox-ul-menu"><li><a href="{$controller->route_new($form_model)}">{Marker::fas('plus')}{L('MODEL_'|cat:$form_model_type|cat:'_INSTANCE')}</a></li></ul>{/if}
{/block}</div>

{if isset($load_model)}
<div id="dashboard_model_actions" class="ox-tabs-content w3-row ox-row-padding">{block name='dashboard_model_actions'}{include file='_partials/dashboard/detect_load_model.html'}{/block}</div>
{/if}

</header>
{/block}


{if isset($dashboard_header)}{include file=$dashboard_header}{/if}
